:host{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10vh;
  width: 75vw;
  height: calc((75vw / 8) * 3);
  gap: calc(75vw / 8);
}


.topic-container {
  width: calc(75vw / 8); 
  height: calc(75vw / 8);
  background-color: #9c4dcc;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, background-color 0.1s;
}

.topic-container:hover {
  transition: 0.5s;
  transform: scale(1.1) perspective(1px);
  cursor: pointer;
}

.topic-container:active {
  background-color: #6a1b9a;
  transition: 0.1s;
}

.topic-name {
  color: white;
  font-size: 1.25vw; 
  text-align: center;
  word-wrap: break-word;
}