<div class="flex justify-center items-center gap-x-8 text-gray-500">
  <div class="card bg-gray-100 px-4 py-5 shadow-xl">
    <p class="text-2xl text-bold py-5">Discussion Forums</p>
    <div class="overflow-y-auto h-48">
      <div class="grid grid-rows-10 grid-cols-3 gap-x-12 gap-y-2 px-2">
        <div
          class="flex items-center bg-primary-50 gap-x-2 cursor-pointer"
          *ngFor="let category of categories"
        >
          <div class="btn btn-ghost">
            <fa-icon
              [icon]="faCircle"
              class="text-2xl text-purple-600"
            ></fa-icon>
            {{ category.name }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-gray-100 px-4 py-5 shadow-xl">
    <p class="text-2xl text-bold py-5">Recent Forum Posts</p>
    <div class="flex flex-col gap-y-2 overflow-y-auto h-48 w-96">
      <div
        class="card bg-gray-200 flex flex-col py-2 px-2 gap-y-2 cursor-pointer"
        *ngFor="let post of posts"
      >
        <div class="flex items-center justify-between">
          <p class="text-semibold">{{ post.title }}</p>
          <fa-icon [icon]="faBookmark"></fa-icon>
        </div>

        <div class="flex items-center gap-x-2 text-sm">
          <div
            class="rounded-full w-8 h-8 flex items-center justify-center bg-purple-600 text-white font-semibold"
          >
            {{ getInitials(post) }}
          </div>

          <p>{{ post.author }}</p>
          <p class="text-xs">{{ getDateString(post) }}</p>
          <div class="rounded-md bg-gray-300 p-1 text-purple-600">
            {{ findCategoryName(post.id) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
