<div class="flex justify-center items-center gap-x-2 text-gray-500">
  <div class="card bg-base-50 px-4 py-5 shadow-xl">
    <p class="text-2xl text-bold py-5">Discussion Forums</p>
    <div class="grid grid-rows-10 grid-cols-5 gap-x-14 gap-y-2">
      <div
        class="flex items-center bg-primary-50 gap-x-2 cursor-pointer"
        *ngFor="let category of categories"
      >
        <fa-icon [icon]="faCircle" class="text-2xl text-purple-600"></fa-icon>
        {{ category.name }}
      </div>
    </div>
  </div>

  <div class="card bg-base-50 px-4 py-5 w-80 h-42 shadow-xl">
    <p class="text-2xl text-black text-bold">Recent Forum Posts</p>

    <div>placeholder for recent posts</div>
  </div>
</div>
